# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual environments
vevn/
venv/
env/
.env

# Django
*.sqlite3
media/
staticfiles/

# Node
node_modules/
dist/
.npm

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
